# phpstan.neon



parameters:

    level: 8

    paths:
        - src


    ignoreErrors:
        - message: '#Parameter \#1 \$separator of function explode expects non-empty-string, string given.#'
          path: src/BlankSplitFilterIterator.php
          reportUnmatched: false
